/* Color Palette
#FF6978 - red
#FFFCF9 - snow
#B1EDE8 - light gray
#6D435A - medium gray
#352D39 - dark gray
*/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Gloabal Styles
------------------------------*/

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.btn {
    text-decoration: none;
    background: #C7D6D5;
    font-weight: bold;
    display: inline-block;
    padding: 8px;
}

summary {
    float: right;
    
}
img {
   border-radius: 50%;
}
h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 80px;
    font-weight: 400;
}

h2 {
    font-size: 40px;
    margin-top: 0;
}

a {
    color: #C20114;
    text-decoration: none;
    cursor: pointer;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 30px 50px;
    overflow: hidden;
}

.content-wrap:first-of-type {
    max-width: 900px;
}

/* Header and Footer 
-----------------------------*/
header, footer {
    background: #0C120C; 
    color: #ECEBF3;
}

/* header */

header {
    padding-top: 50px;
    position: relative;
    border-top: solid black;
}

.download {
    text-transform: uppercase;
    position: absolute;
    color: black;
    bottom: 0;
    left: 520px;
    z-index: 0;
}

.download:hover {
    opacity: 0.5;
    }

header h1, header h2 {
    color: #C7D6D5;
    margin: 0;
}

header .content-wrap a {
    color: #C7D6D5;
    text-decoration: underline;
}

header .content-wrap a:hover {
    text-decoration: none;
}

/* Navigation
-----------------------------*/
nav {
    text-align: center;
    background: #ECEBF3;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav a {
    clear: right;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

label {
    color: black;
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    text-align: right;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

nav a:hover {
    color: #0C120C;
}

/*footer */

footer {
    text-align: center;
    border-top: solid black;
}

.contact-info a {
    padding: 10px;
    display: inline-block;
}

.contact-info a:hover {
    transform: scale(1.05);
}

/* Work Experience 
-----------------------------*/
.work {
    background: linear-gradient(90deg, rgb(194, 1, 20), #696464, rgb(194, 1, 20));
    border-top: solid black;
}

.project-box {
    background-color: rgb(174, 174, 182);  /* make it a gradiant */
    padding: 10px;
    margin: 10px;
    width: 100%;
    float: left;
    border-radius: 30px;
    /* background: linear-gradient(90deg, rgb(180, 176, 176), rgb(99, 99, 93)); */
    background: linear-gradient(90deg, rgb(99, 99, 93), rgb(180, 176, 176), rgb(99, 99, 93));
    border: black solid 2px;
}

.center {
    text-align: center;
}

.project-box:focus,
.project-box:hover {
    /* margin: 2px; */
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.8);
    transition: 0.1s;
}

.project-box a {
    color: rgb(114, 5, 65);
    font-weight: bold;
    text-decoration: underline;
}

.project-box a:hover {
    text-decoration: none;
}

.vl {
    border-left: black solid;
}

/* Education
-----------------------------*/
.education {
    background: linear-gradient(rgba(152, 155, 153, 0.8), rgba(143, 148, 144, 0.5)),
                url(../images/umd-m.jpg);
    background-size: cover;
    background-position: center;
    border-top: solid black;
}

.education p, .education h3 {
    background: rgb(53, 53, 53);
    border-radius: 20px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    border: rgb(31, 26, 26) solid;
}

.education-title {
    font-weight: 600;
}

.education a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.education a:hover {
    text-decoration: none;
}

/* Media Queries
-------------------------*/
@media (min-width: 900px) {

    .col-narrow {
      width: 30%;
      float: left;
    }

    .col-wide {
      width: 70%;
      float: left;
      padding-left: 20px;
    }

    .education {
    background: linear-gradient(rgba(152, 155, 153, 0.8), rgba(143, 148, 144, 0.5)),
    url(../images/umd-m.jpg) fixed no-repeat;
    background-size: cover;
    border-top: solid black;
    }

  }
  @media (max-width: 899px){

    header {
      text-align: center;
      
    }
    .img {
      width: 200px;
      border-radius: 50px;
      margin-bottom: 5px;
    }

    .vl {
        border-left: none;
    }
  }

  @media (max-width: 635px){
    
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }

    /* nav a {
        padding: 5px 20px;
    } */

    label {
        display: block;
        cursor: pointer;
        height: 50px;
        line-height: 2;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
        line-height: 40px;
    }

    .menu a {
        display: block;
        border-bottom: black solid;
        margin: 0;
    }

    .menu a:first-of-type {
        border-top: black solid;
    }

    #toggle:checked + .menu {
        display: block;
    }
  }