/* Color Palette
#FF6978 - red
#FFFCF9 - snow
#B1EDE8 - light gray
#6D435A - medium gray
#352D39 - dark gray
*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 18px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Gloabal Styles
  ------------------------------*/

a {
  color: #c20114;
  text-decoration: none;
  cursor: pointer;
}

.content-wrap {
  max-width: 890px;
  margin: 0 auto;
  padding: 20px 50px;
  overflow: hidden;
}

.project .content-wrap,
.education .content-wrap,
footer .content-wrap {
  max-width: 1200px;
}

/* Typography */

h1,
h2,
h3,
h4,
h5 {
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 80px;
  font-weight: 400;
}

h2 {
  font-size: 2em;
  margin-top: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  line-height: 1.4;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

/* Header and Footer 
  -----------------------------*/
header,
footer {
  background: #0c120c;
  color: #ecebf3;
}

/* Header */
header img {
  border-radius: 50%;
  margin-top: 1.3em;
  padding: 3px;
  border: solid 1px #c20114;
  box-shadow: 0px 0px 5px #ecebf3;
}

header {
  padding: 5em 0 2em 0;
  position: relative;
  border-top: solid black;
}

header h2 {
  padding-bottom: 0.6em;
  border-bottom: #ecebf3 solid;
}

header .content-wrap p {
  padding-top: 0.6em;
  position: relative;
  z-index: 1;
  padding: 1em;
}

header .content-wrap p::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.download:hover {
  opacity: 0.5;
}

header h1,
header h2 {
  color: #c7d6d5;
  margin: 0;
}

header .content-wrap a {
  color: #c7d6d5;
}

header .content-wrap a:hover {
  opacity: 0.6;
}

.university-text {
  color: red;
}

.of-text {
  color: #fff;
}

.maryland-text {
  color: #efff0a;
}

/* Navigation
  -----------------------------*/
nav {
  --background: #ecebf3;
  --links: #c20114;
  --hover: #0c120c;

  text-align: center;
  background: var(--background);
  transition: background 0.4s ease-in;
  color: var(--links);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

/* Switches color codes on scroll + JS */
.nav-scrolled {
  --background: #0c120c;
  --hover: #ecebf3;
}

nav a {
  color: inherit;
  clear: right;
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

label {
  color: var(--links);
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  text-align: right;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}

nav a:hover,
nav a:focus {
  color: var(--hover);
}

/*Footer */

footer {
  text-align: center;
  border-top: solid black;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}

.contact-info i {
  color: #ecebf3;
  padding-right: 0.15em;
}

.contact-info a:hover,
.contact-info a:focus {
  opacity: 0.7;
}

/* Work Experience 
  -----------------------------*/
.project {
  border-top: solid black;
  background-image: linear-gradient(20deg, #236d7d 40%, #c20114 100%);
}

.project h3 {
  font-size: 1.8em;
}

.general-projects h4 {
  font-size: 1.5em;
  margin: -0.33em 0 2em 0;
  padding: 0;
}

.project h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: black;
  margin-top: 0.8em;
}

.project-box {
  color: white;
  position: relative;
  padding: 2em;
  margin: 1.5em auto;
  width: 100%;
  float: left;
  border-radius: 30px;
  background: rgba(194, 1, 20, 0.6);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 1;
}

.project-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  z-index: -1;
}

.project-box p {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}

.project-box ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0 0 0 1.5em;
}

.project-box li {
  line-height: 2;
  position: relative;
  display: flex;
  align-items: start;
  padding-left: 0.5em;
  padding: 0.3em 0 0 0.5em;
}

.project-box li::before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-size: 1.5rem;
  position: absolute;
  top: -0.1em;
  left: -1em;
}

/* MySQL Card */
.project-box:nth-child(2) {
  background-image: url(../images/database.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Python Web Crawler Card */
.project-box:nth-child(3) {
  background-image: url(../images/python.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Stats Card */
.project-box:nth-child(4) {
  background-image: url(../images/stats.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* UX Card */
.project-box:last-child {
  background-image: url(../images/ux.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-button {
  color: black;
  background: none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  border: 2px solid white;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  position: relative;
  mix-blend-mode: screen;
  letter-spacing: 0.1em;
}

.project-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  mix-blend-mode: color-burn;
}

.project-button:hover,
.project-button:focus {
  color: white;
  background-color: black;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

@supports not (mix-blend-mode: screen) {
  .project-button {
    background: white;
    color: black;
  }

  .project-button::before {
    background: none;
  }
  .project-button:hover,
  .project-button:focus {
    background-color: transparent;
  }
}

.web-projects-title {
  font-size: 2em;
}

.project-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.web-project-box {
  z-index: 99;
  position: relative;
  display: inline-block;
  margin: 2em 1em;
  text-align: center;
  box-shadow: 11px 16px 41px -6px rgba(0, 0, 0, 0.71);
  background: rgba(199, 214, 213, 0.7);
  width: 43%;
}

.web-project-img {
  position: relative;
  z-index: -1;
  display: block;
  border: 0;
  width: 100%;
  height: auto;
  transition: 0.5s ease-in, 0.5s ease-out;
}

.web-project-box:hover .web-project-img,
.web-project-box:focus .web-project-img {
  filter: brightness(0.1);
}

.web-project-box-scroll {
  filter: brightness(0.1);
  transition: 0.5s ease-in, 0.5s ease-out;
}

.web-project-box h4 {
  font-size: 1.7rem;
  padding: 0.5em;
  margin: 0;
  position: relative;
  z-index: -1;
}

/* WEB PROJECT BOX HOVER EFFECT */

figure {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.web-project-box:hover figcaption,
.web-project-box:focus figcaption,
.web-project-box:hover h5,
.web-project-box:focus h5 {
  transform: translate3d(0, 0, 0);
  transition-delay: 0.5s;
}

.fig-hover-effect {
  transform: translate3d(0, 0, 0);
  transition-delay: 0.5s;
}

figcaption {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: auto;
  padding: 0;
  height: 3.75em;
  background: black;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  border-bottom: #c7d6d5 solid 1px;
}

figure a {
  color: #c7d6d5;
}

figure h5 {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  transition: transform 0.35s;
  transform: translate3d(100%, 0, 0);
  margin: 0.5em;
  font-size: 1.5em;
}

figure h5 i {
  font-size: 1.2em;
}

.demo-code {
  position: absolute;
  width: 100%;
  color: #c7d6d5;
  text-transform: none;
  top: 35%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s ease-out;
  transform: translate3d(0, 0, 0);
}

.web-project-box:hover .demo-code,
.web-project-box:focus .demo-code {
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-out 0.8s;
}

.demo-code-scroll {
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-out 0.8s;
}

.demo-code a {
  display: block;
  width: 70%;
  margin: 0 auto;
  padding: 0.5em;
  border: solid 4px #c7d6d5;
  font-weight: bold;
  transition: all 0.3s ease-in;
}

.demo-code a:first-of-type {
  margin-bottom: 1em;
}

.demo-code a:hover,
.demo-code a:focus {
  background: #c7d6d5;
  color: black;
}

.html5 {
  color: #ce8b11;
}

.css3 {
  font-family: "Baloo Chettan", cursive;
  color: #282888;
}

.js {
  font-family: "Darker Grotesque", sans-serif;
  color: #c3c317;
}

/* Education
  -----------------------------*/
.education {
  background: linear-gradient(
      rgba(152, 155, 153, 0.8),
      rgba(143, 148, 144, 0.5)
    ),
    url(../images/umd-m.jpg);
  background-size: cover;
  background-position: center;
  border-top: solid black;
}

.education .content-wrap {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.education p,
.education-title {
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.education p {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 1.2em;
  font-weight: bold;
}

.education-title {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  letter-spacing: 0.1em;
  z-index: 1;
  padding: 1em;
  mix-blend-mode: multiply;
}

.education-title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../images/maryland-flag.png);
  background-position: center;
  background-size: cover;
  mix-blend-mode: multiply;
  z-index: -1;
  border-radius: 20px;
}

@supports not (mix-blend-mode: multiply) {
  .education-title {
    background: rgba(0, 0, 0, 1);
  }

  .education-title::before {
    opacity: 0.5;
  }
}

.education a {
  color: #c20114;
  font-weight: bold;
}

.education a::after,
header p a::after {
  content: "\f35d";
  font-family: "Font Awesome 5 Free";
  padding-left: 0.4em;
  font-weight: bold;
}

.education a:hover,
.education a:focus {
  opacity: 0.7;
}

/* IE 11 Code */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* Nav */
  nav {
    background: black;
    color: #c20114;
  }

  /* Web projects box hover */
  .web-project-box h4 {
    border-top: 2px solid black;
  }

  .web-project-box:hover .web-project-img,
  .web-project-box:focus .web-project-img {
    opacity: 0;
  }

  .demo-code a {
    color: black;
  }

  /* General projects button */
  .project-button {
    background: white;
    color: black;
  }

  .project-button::before {
    background: none;
  }
  .project-button:hover,
  .project-button:focus {
    background-color: transparent;
  }

  /* Education */
  .education .content-wrap > * {
    max-width: 600px;
  }

  .education-title {
    background: black;
    color: white;
  }

  .education-title::before {
    opacity: 0.5;
  }
}

/* Non-rectangular sections */
@supports (
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw))
  )
  or (clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw))) {
  /* ONLY > 900px */
  @media only screen and (min-width: 900px) {
    /* nav */
    nav {
      padding-top: 6em;
      margin-top: -6em;
    }
    .nav-skew {
      transform: skewY(-3deg);
      transform-origin: top right;
      transition: transform 0.5s ease-in, background 0.5s 2s ease-in;
    }

    /* .menu */
    .menu-skew {
      transform: translateX(-20%);
      transition: transform 1s 0.5s ease-in;
      position: relative;
    }

    header {
      /* padding-bottom: 1em; */
      padding-top: 5em;
    }

    header .content-wrap {
      transform: skewY(-3deg);
    }
  }

  header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
    padding-bottom: 4em;
    padding-top: 5em;
  }

  .project {
    border-top: none;
    margin-top: -5vw;
    padding: 4em 0;
  }

  .education {
    border-top: none;
    margin-top: -5vw;
    padding-bottom: 4em;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
  }

  footer {
    border-top: none;
    margin-top: -5vw;
    padding-top: 4em;
  }
}

/* Media Queries
  -------------------------*/

@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
  }

  .col-wide {
    width: 70%;
    float: left;
    padding-left: 1.5em;
    transform: scaleY(1.055);
  }

  figure h5 {
    font-size: 2em;
    margin: 0.3em;
  }

  .education {
    background: linear-gradient(
        rgba(152, 155, 153, 0.8),
        rgba(143, 148, 144, 0.5)
      ),
      url(../images/umd-m.jpg) fixed no-repeat;
    background-size: cover;
  }
}
@media (max-width: 899px) {
  html {
    font-size: 16px;
  }

  .project-box .col-wide {
    margin: 2em auto 0 auto;
  }

  .project-box p {
    text-align: center;
  }

  .demo-code {
    font-size: 1.2rem;
  }

  .general-projects h4 {
    margin: 0 0 2.2em 0;
    position: relative;
  }

  .general-projects h4::after {
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    background: #c7d6d5;
    margin: 1em 0;
    position: absolute;
    left: 25%;
  }

  header {
    text-align: center;
  }
  .img {
    width: 200px;
    margin-bottom: 5px;
  }

  .project-box::before {
    display: none;
  }

  .education .content-wrap {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .web-project-box h4 {
    font-size: 1.5em;
  }
}

@media (max-width: 635px) {
  .project-box::after {
    border-radius: 0;
  }

  .web-project-box {
    width: 100%;
  }

  .project h3::after {
    width: 50%;
    height: 3px;
    position: absolute;
    left: 25%;
  }

  .web-project-box h4 {
    font-size: 1.8em;
  }

  figure {
    font-size: 6vw;
  }

  figure h5 {
    margin: 0.3em;
  }

  figcaption {
    height: 2.75em;
  }

  .demo-code {
    font-size: 1.7rem;
  }

  .project .content-wrap {
    padding: 20px 0px;
    margin: 0 auto;
  }

  header .content-wrap {
    padding: 20px 30px;
    text-align: center;
    margin: 0 auto;
  }

  header .col-wide p {
    text-align: left;
    padding-left: 20px;
  }

  .project .project-box {
    border-radius: 0%;
    width: auto;
    margin: 1.5em 0;
  }

  .project .content-wrap h2,
  .project h3 {
    text-align: center;
  }

  .education .content-wrap {
    align-items: center;
    padding: 20px 10px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  nav a:hover {
    color: #c20114;
  }

  label {
    display: block;
    cursor: pointer;
    height: 50px;
    line-height: 2;
    color: inherit;
  }

  .menu {
    /* display: none; */
    text-align: center;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    height: 0;
  }

  .menu a {
    display: block;
    margin: 0;
    position: relative;
  }

  .menu a::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #c20114;
    position: absolute;
    left: calc(50% - 15px);
    margin-top: 0.2em;
  }

  #toggle:checked + .menu {
    /* display: block; */
    visibility: visible;
    opacity: 1;
    height: auto;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 25px;
  }

  .header .col-wide {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
  }

  .demo-code {
    font-size: 1.3rem;
  }
}
